<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Pizza Time</title>
    <style>
        text {
            padding: 0 0 6em 2em;
            margin-bottom: 1em;
        }
        span {
            padding: 0 0 6em 2em;
            margin-bottom: 1em;
        }
    </style>
</head>
<body class="d-flex flex-column mx-auto">
    <header class="d-flex justify-content-between p-5">
        <div>
            <h1>PIZZA PETE'S</h1>
        </div>
        <div id="nav" class="d-flex">
            <a href="/home" class="btn btn-success border-5 rounded-0 text-white">HOME</a>
            <a href="/order" class="btn btn-success border-5 rounded-0 text-white">ORDER</a>
            <a href="/account" class="btn btn-success border-5 rounded-0 text-white">ACCOUNT</a>
            <a href="/logout" class="btn btn-success border-5 rounded-0 text-white">LOGOUT</a>
        </div>
    </header>
    <main class="d-flex justify-content-around p-3">
        <div>
            <h1>YOUR ORDER</h1>
            <p>METHOD {{order.method}}</p>
            <p>QTY: {{order.quantity}}</p>
            <p>Size: {{order.size}}</p>
            <p>Crust: {{order.crust}}</p>
            <p>Toppings: {{order.toppings}}</p>
        </div>
        <div>
            <p>{{order.price}}</p>
            <p>Tax: </p>
            <p>--------------------------------</p>
            <p>Total: </p>
        </div>
        <div>
            <a href="/orders/startover" class="btn btn-danger">Start Over</a>
            <a href="/orders/purchase" class="btn btn-success">Purchase</a>
        </div>
    </main>
</body>