<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>All Products - {{category}}</title>
    <style>
        .block {
            height: 200px;
            width: 300px;
            background-color: skyblue;
            margin: 20px;
        }
    </style>
</head>
<body class="mx-auto">
    <h1>All products in this {{category}}</h1>
    <div class="d-flex">
        {% for product in products[:10] %}
            <div class="block d-flex align-items-center justify-content-center">
                <a href="/product/{{product}}">{{product}}</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>